<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="main2.css">		
    <title>Your fish</title>
</head>
<body>
<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form method="POST" class="search_form">
						<input type="text" class="input-block-level search-query" Placeholder="Search..">
					</form>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">	
							<li><a href="homepage2">Home</a></li>						
							<li><a href="shop">Shop</a></li>						
							<li><a href="profile">My Profile</a></li>
							<li><a href="fish">Your Fish</a></li>
							<li><a href="checkout.html">Checkout</a></li>					
							<li><a href="login">Login</a></li>		
						</ul>
					</div>
				</div>
			</div>
		</div><br>
		<div class="text">
	<div id="wrapper" class="container">
		<div class="fish-box">
			<span class="fish_tag"></span>
			<% for(var i = 0; i < rows.length; i++) { %>					
				<a href="fish_details"><img alt="" src="stylings/images/fish/" + <%= rows[i].image %>></a><br/>
				<a href="fish_details" class="title"><%= rows[i].name %></a><br/>
				<table>
					<tr>
						<td> Age: <%= rows[i].age %> </td> 
	                	<td> Size: <%= rows[i].size %> </td> 
	                	<td> Race: <%= rows[i].race %> </td> 
					</tr>
				</table>
				<p class="price"><%= rows[i].price %>$</p>
			<%}%>
		</div>
	</div>
	<a href="shop">Buy a new fish</a>
	</div>
</body>
</html>